@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:30px">
    <div class="col-sm-3">
        <div class="list-group flex-column">
            <a asp-controller="Login" asp-action="Index" class="list-group-item list-group-item-action" >
                Login
            </a>
            
            <a asp-controller="Register" asp-action="StudentRegister" class="list-group-item list-group-item-action" >
                Register as a student
            </a>
            <a asp-controller="Register" asp-action="ProfessorRegister" class="list-group-item list-group-item-action" >
                Register as a professor
            </a>
        </div>
    </div>
</div>

<!--
<div>
    <a asp-action="Create">Create User</a>
</div>
    -->
